# Homework Assignment 1 

The homework assignment is due by the end of the day on Tuesday, September 9.

Please make sure to solve the assignment problems yourself and obey the university's policies on academic honesty and integrity. Remember that copying and pasting solutions from AI coding assistants, webpages, classmates, or anywhere else is considered plagiarism and academic dishonesty. 

Merriam-Webster Dictionary defines "plagiarize" as "to steal and pass off (the ideas or words of another) as one's own, or to use (another's production) without crediting the source." If a student submits solutions to the assignment that are generated by AI coding assistants and claims the solutions as their own, then the student commits plagiarism. Even though the student 
is not stealing content, failing to credit AI assistants as the source of the solution still fits the dictionary definition of plagiarism.

Submitted assignments that have been copied from elsewhere will be assigned 0 marks, and the students involved will be reported to the department for disciplinary action. 

Additional note: To avoid potential conflicts between variable names, it is recommended to restart the kernel often or restart it for every new problem by selecting `Kernel -> Restart Kernel...`. Also, when you have completed all problems and before submitting the notebook, it is recommended to select `Kernel -> Restart Kernel and Run All Cells...` to ensure that all cells execute correctly without errors.

**Total points: 25**

# Problem 1 - Strings (4 points)

(a) For the given string `s1`, print out the letter `o` using indexing.

0.5 points

In [ ]:
s1 ='computer'

s1[0]

'o'

(b) Print out the last letter in `s1` using negative indices for indexing.

0.5 points

In [ ]:
s1[-1]

'r'

(c) Reverse the string `s1` using slicing.

0.5 points

In [ ]:
s1[::-1]

'retupmoc'

(d) Concatenate the following two strings `s2` and `s3`, and make sure there is an empty space between them in the concatenated string. Assign the concatenated string to variable `s4` and print it.

0.5 points

In [4]:
s2 = 'first'
s3 = 'name'

# Your Code Here

first name

(e) Assign the name `Albert Einstein` to a variable `famous_person`, and then print it first in lowercase and afterward in uppercase characters.

0.5 points

In [6]:
# Your Code Here

'albert einstein'

In [ ]:
# Your Code Here

'ALBERT EINSTEIN'

(f) Separate the first and last name in `famous_person`, assign them to variables `first` and `last`, and print the two variables.

0.5 points

In [8]:
# Your Code Here

Albert
Einstein

(g) Create a string 'Objects in Python can have built-in methods.' and assign it to a variable `s5`. Use the `replace()` function to change the string to 'Objects in Python can work with built-in methods.' and assign it to variable `s6`. Print the variables `s5` and `s6`.

1 point

In [10]:
# Your Code Here

Objects in Python can have built-in methods.
Objects in Python can work with built-in methods.

# Problem 2 - Lists (3 points)

(a) Sort the following list in descending order, and print the output.

0.5 points

In [11]:
list1 = [5,3,4,6,1]

# Your Code Here

[6, 5, 4, 3, 1]

(b) Use list comprehension to create a list named `list2` consisting of the squared numbers from 1 to 10. Note again that it is required to use list comprehension.

0.5 points

In [12]:
# Your Code Here

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

(c) Use list comprehension to select the words in `list3` that end with the letter t. Hint: use `.endswith()`.

0.5 points

In [14]:
list3 = ['spot', 'tea', 'day', 'belt', 'stop', 'spam', 'first']

In [15]:
# Your Code Here

['spot', 'belt', 'first']

(d) Convert the following code into a list comprehension. In other words, write a list comprehension that squares the elements in `a` greater than 4.

0.5 points

In [16]:
# Filter elements greater than 4 and return squared values
a = [3, 7, 4, 6, 2, 8, -3, 12]
b = []

for i in a:
    if i > 4:
        b.append(i**2)
b

[49, 36, 64, 144]

In [17]:
# Your Code Here

[49, 36, 64, 144]

(e) Use indexing to select the element 'hello' in the nested list `list4` and change the element to 'goodbye'.

0.5 points

In [18]:
list4 = [1, 2, [3, [4, 5, ['hello']]]]

# Your Code Here

[1, 2, [3, [4, 5, ['goodbye']]]]

(f) Using `pop()` and `insert()`, change `list5` so that numbers 3 and 7 are switched.

0.5 points

In [19]:
list5 = [1, 2, 3, 4, 5, 6, 7, 8]

# Your Code Here

[1, 2, 7, 4, 5, 6, 3, 8]

# Problem 3 - Dictionaries (3 points)

(a) For the given dictionary `languages`, print the keys and values. Then, change the values 'c' and 'ruby' to be uppercase letters. 

1 point

In [21]:
languages = {'alice':'python', 'bob': 'c', 'sarah':'ruby', 'ed': 'python'}

In [22]:
# Your Code Here

dict_keys(['alice', 'bob', 'sarah', 'ed'])

In [23]:
# Your Code Here

dict_values(['python', 'c', 'ruby', 'python'])

In [24]:
# Your Code Here

{'alice': 'python', 'bob': 'C', 'sarah': 'ruby', 'ed': 'python'}

In [25]:
# Your Code Here

{'alice': 'python', 'bob': 'C', 'sarah': 'RUBY', 'ed': 'python'}

(b) Use keys and indexing to access the value 'hello' from the following nested dictionaries.

1 point

In [26]:
dict1 = {'k1':{'k2':'hello'}}

# Your Code Here

'hello'

In [27]:
dict2 = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

# Your Code Here

'hello'

(c) Similar to list comprehensions, in Python dictionary comprehensions can be used to create new dictionaries, where the syntax is `{x:y for x,y in dict.items()}`, with `x` and `y` being the keys and values in the dictionary. 

Write a dictionary comprehension to create a new dictionary named `new_dict3` that has the same keys as the dictionary `dict3` below and has the corresponding values incremented by 10.

1 point

In [28]:
dict3 = {'a': 1, 'b': 2, 'c': 3}

In [29]:
# Your Code Here

{'a': 11, 'b': 12, 'c': 13}

# Problem 4 - Tuples (3 points)

(a) Create a tuple `t1` consisting of the numbers from 1 to 5. Convert the tuple to a list `list1`, then use the `sort()` function for lists to sort the numbers in a reversing order. Convert the list back to a tuple `t2`.

1 point

In [30]:
# Create the tuple r
t1 = (1, 2, 3, 4, 5)
t1

(1, 2, 3, 4, 5)

In [31]:
# Your Code Here

[5, 4, 3, 2, 1]

In [32]:
# Your Code Here

(5, 4, 3, 2, 1)

(b) Use indexing to access the value 20 from the following nested tuple.

0.5 points

In [33]:
tuple3 = ('Orange', [10, 5, (15, ['Apple'], [25, [20, 30]])])

In [34]:
# Your Code Here

20

(c) Use indexing to access the value 'Apple' from the nested tuple `tuple3` .

0.5 points

In [35]:
# Your Code Here

'Apple'

(d) In `tuple4` given below, can we change the value 20 to 200? If yes, provide the code and write your explanation. And if not, explain why.

1 point

In [36]:
tuple4 = (10, [20, 30], 40, 50)

In [ ]:
# Your Answer Here

# Problem 5 - Sets (3 points)

(a) Create two sets `set1` and `set2` corresponding to the words 'manufacturing' and 'factory'. Print the letters that appear in both words.

0.5 points

In [39]:
# Your Code Here

{'a', 'c', 'f', 'r', 't'}

(b) The following two sets list the names of company employees in two groups `engineers` and `managers`. 

Use set expressions to list employees who are both engineers and managers.

0.5 points

In [40]:
engineers = {'bob', 'sue', 'ann', 'vic', 'joe', 'eli'}
managers = {'tom', 'sue', 'can', 'mia'}

# Your Code Here

{'sue'}

(c) Use set expressions to list employees who are engineers but are not managers.

0.5 points

In [41]:
# Your Code Here

{'ann', 'bob', 'eli', 'joe', 'vic'}

(d) Use set expressions to list all people who are either engineers or managers.

0.5 points

In [42]:
# Your Code Here

{'ann', 'bob', 'can', 'eli', 'joe', 'mia', 'sue', 'tom', 'vic'}

(e) Use set expressions to list employees who are managers but are not engineers.

0.5 points

In [43]:
# Your Code Here

{'can', 'mia', 'tom'}

(f) Use set expressions to check if all managers are engineers. Hint: consider superset in sets.

0.5 points

In [44]:
# Your Code Here

False

# Problem 6 - If-else Tests (5 points)

(a) Write an `if-else` test that for a given number `x` prints whether it is an even or odd number. Hint: use the modulus operator `%`.

0.5 points

In [45]:
x = 5

# Your Code Here

5 is an odd number

(b) In the cell below, explain why we used double quotes in the last print line, and we used single quotes in the first print line?

0.5 points

In [46]:
person = 'Jim'

if person == 'Joe':
    print('Welcome Joe!')
elif person =='George':
    print('Welcome George!')
else:
    print("Welcome, what's your name?")

Welcome, what's your name?

In [ ]:
# Your Answer Here

(c) Using `if-else` and the `input()` function, create a program that asks to enter a password, and if the password is 123456 it displays 'Welcome!' and if not it displays 'Access denied!'.

0.5 points

In [48]:
password = input(".......")

# Your Code Here

Enter your password:  123456
Welcome!

(d) Write code that for given marks will print the grade, where F grade is less than 60 marks, D is 60 to 69 marks, C is 70 to 79 marks, B is 80 to 89, and A is 90 to 100.  

1 point

In [49]:
grade = 85

# Your Code Here

grade is B

(e) Using `if-elif-else tests`, write a code asking the user to enter a word. Then if the word is 'hi' print 'Hi to you too!', if the word is 'hello' print 'Hello hello!', if the word is 'howdy' print 'Howdyyyy!', if the word is 'hey' print "hey hey hey!', and the word is none of the above words print 'I don't know what this word means.'

1 point

In [51]:
word = input("........")

# Your Code Here

Enter one word:  hey
Hey hey hey!

(f) Using `if-elif-else tests`, write a program to print the number of days for a given month.

1 point

In [52]:
month = 'May'

# Your Code Here

May has 31 days

(g) Use the `break` statement in a for loop to calculate the sum of all elements in a list that precede the number 100. Explain what would have happened if you replaced `break` with a `continue` statement in your code.

0.5 points

In [55]:
list6 = [3, 66, 70, 25, 43, 29, 100, 50, 88, 28, 96]

In [56]:
# Your Code Here

236

# Problem 7 - Files (4 points)

(a) Open the file `file1.txt` that is available in the Assignment 1 folder, and write a program to count the total number of words in the text file, and print it. 

2 points

In [61]:
# Your Code Here

53

(b) Using the `file1.txt` again, write a program to print the longest word in the file. 

2 points

In [64]:
# Your Code Here

instructions